.project{
    position: relative;
    width: 200px;
    border-right:0.5 solid lightgray ;
    height: 100%;
    background-color: rgb(228, 236, 250);
}
.project ul{
    position: absolute;
   
    width: 100px;
    height: 200px;
   list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
   opacity: 0;
  
   transform: translatey(10px);
}
.project li{
 
  align-items: center;
  justify-content: center;
  display: flex;
}
.project li:hover{
    background: rgb(153, 169, 238);
    padding: 0px 50px;
}
.project ul li a{
    text-decoration: none;
}
.dropdown button, .home{
    background:none ;
    border: none;
    color: rgb(10, 10, 10);
    text-decoration: none;
    cursor: pointer;
     font-size: 18px;
   
}
.project button:focus + ul{
    opacity: 1;
}
.home{
    font-size: larger;
    color: chocolate;
   margin-top: 0;
}
.icon{
    justify-content: center;
    align-items: center;
    margin-top: 0;
    display: flex;
}
