.sales{
    width:325px;
    height:125px ;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 2px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 2px 5px 15px 5px rgba(0,0,0,0);
margin-top: 0;
margin-left: 20px;
}
.box1{
    font-size: 35px;
    margin-left:30% ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(63, 63, 66);
 
}
.arrow{
    display: flex;
    margin-left: 20px;
    align-items: center;
}
.compare{
    font-size:25px ;
    margin-top: 20px;
    margin-left: 15px;
    color: rgb(40, 41, 40);
}
.money{
    font-size: 30px;
    color: rgb(57, 57, 59);
}
.rate{
    color: green;
margin-bottom: 15px;
margin-left: 15px;
}
.year{
   
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    flex: 1;
    display: flex;
}
.rate1{
    color: rgb(218, 23, 23);
margin-bottom: 15px;
margin-left: 15px; 
}