.pro{
    display: flex;
  height: 100%;
  width: 100%;
}
.procontainer{
    flex: 5;
}
.style{
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(0, 153, 255));
    height: 200px;
}
.h1{
margin-left:40%
}
.btn{

 padding: 12px 34px;
 background:transparent;
 color: #000;
 transition: 0.5s;
 position: absolute;
 border-radius: 10px;
 border: none;
 
}
.btn:hover{
    background: darkcyan;
}
.tainer{
    margin-top: 10%;
    margin-left: 40%;
}
  